.fade-up {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 0.9s ease forwards;
}

.delay {
  animation-delay: 0.25s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}

.reveal-left {
  opacity: 0;
  transform: translateX(-60px);
  transition: all 1s ease;
}

.reveal-right {
  opacity: 0;
  transform: translateX(60px);
  transition: all 1s ease;
}

.show,
.show.reveal-left,
.show.reveal-right {
  opacity: 1;
  transform: translate(0);
}